#footer {
  display: block;
  background-color: #ddd;
  font-family: sans-serif;
  padding: 4em;
  text-align: center;
}


#header {
  display: block;
  background-color: #ddd;
  font-family: sans-serif;
  padding: 4em;
}

#widget {
  background-color: #999;
}
