#footer {
  display: block;
  background-color: #ddd;
  font-family: sans-serif;
  padding: 2em;
  margin-bottom: 3em;
}


#header {
  display: block;
  background-color: #ddd;
  font-family: sans-serif;
  padding: 2em;
  margin-bottom: 3em;
}

#widget {
  background-color: #999;
}
